<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index-gemini.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index-gemini.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      node_env="%node_env%"
      nodeProcessCountPerApplication="1"
      loggingEnabled="true"
      devErrorsEnabled="false"/>
  </system.webServer>
</configuration>